/* Yes the divs are absolutely pervasive. I'm going to remove a bunch as soon as I get this turned in before the deadline. */

body {
    background-color: rgb(110, 45, 46);
    font-family: 'Long Cang';
    font-size: 1.5em;
}

/* Header */

h1 {
    font-size: 2.5em;
    color: white;
    text-shadow: 3px 3px 2px black;
    text-align: center;
}

/* Skills and About Me Flexbox */

div#skills-about-me {
    display: flex;
    flex-flow: row;
    align-items: stretch;
    margin: 10px;
}

/* Skills */

section#skills {
    border-width: 6px;
    border-style: outset;
    border-color: rgb(219, 172, 111);
    margin-left: 100px;
    background-color: rgb(123, 51, 52);
}

section#skills h2 {
    text-align: center;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: 0;
}

section#skills sup {
    font-size: 0.4em;
}

section#skills ul {
    list-style: decimal-leading-zero;
    color: rgb(219, 172, 111);
    text-shadow: 1px 1px 1px black;
}

/* About Me */

section#about-me {
    border-width: 6px;
    border-style: outset;
    border-color: rgb(219, 172, 111);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    padding-left: 10px;
    background-color: rgb(123, 51, 52);
    margin-right: 100px;
    margin-left: 50px;
    line-height: 0.85em;
}

.text-image {
    display: flex;
}

section#about-me div.education-work {
    display: flex;
    color: rgb(219, 172, 111);
    text-shadow: 1px 1px 1px black;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    flex: 1;
}

.education-work h2 {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 2px black;
    margin-bottom: -3px;
}

section#about-me div.image {
    display: flex;
    color: rgb(219, 172, 111);
    text-shadow: 1px 1px 1px black;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex: 1;
}

.image figcaption {
    font-weight: 1.5em;
}

/* Social Media */

div#social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-left: 25%;
    border-width: 6px;
    border-color: rgb(219, 172, 111);
    border-style: outset;
    background-color: rgb(123, 51, 52);
    width: min-content;
}

footer {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.social-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-text h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.social-text p {
    margin-top: 0px;
    color: rgb(219, 172, 111);
    text-shadow: 1px 1px 1px black;
}

nav {
    display: flex;
    width: 50vw;
    align-items: stretch;
    justify-content: space-evenly;
}